@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');
html,
body {
	padding: 0;
	margin: 0;
	background: var(--light);
	font-family: 'roboto slab', -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
:root {
	--scale: 1;
	--rich-black-fogra-29: hsla(207, 95%, 8%, 1);
	--baby-powder: hsla(100, 100%, 99%, 1);
	--tiffany-blue: hsla(174, 62%, 47%, 1);
	--rose-madder: hsla(353, 81%, 51%, 1);
	--orange-peel: hsla(35, 100%, 55%, 1);
	--dark: var(--rich-black-fogra-29);
	--light: var(--baby-powder);
}

.grid {
	position: relative;
	margin: 0;
	margin-top: 1rem;
	display: grid;
	gap: 1rem;
	max-width: 100vw;
	grid-template-columns: repeat(auto-fit, 200px);
	grid-auto-rows: max-content;
}

.genres {
	padding: 5px;
	width: 80%;
	text-align: center;
}
.genre {
	margin: 3px !important;
}
.genres span {
	background: var(--tiffany-blue);
	/* background: rgb(219, 219, 219); */
	color: var(--light);
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
	margin: 3px;
	display: inline-block;
	border: 0px;
	transition: 0.3s all ease-out;
}
.genres span.active {
	background: var(--dark);
	color: var(--light);
}
.ratings span {
	background: var(--tiffany-blue);
	color: var(--light);
	cursor: pointer;
	padding: 10px;
	display: inline-block;
	border: 0px;
	transition: 0.1s all ease-out;
}
.ratings span:first-of-type {
	border-radius: 10px 0 0 10px;
}
.ratings span:last-of-type {
	border-radius: 0 10px 10px 0;
}

.ratings span.disabled {
	background: var(--rich-black-fogra-29);
	transform: scale(0.8);
	margin: -4px;
}
.ratings span:hover {
	transform: scale(1.1);
	border-radius: 2px;
}
button {
	padding: 10px;
	cursor: pointer;
	margin: 5px;
	background: var(--light);
	box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.38);

	border: none;
	border-radius: 10px;
}
button:hover {
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.38);
}
button:disabled {
	box-shadow: none;
}
.loading_img {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fcfffa;
	background-image: -webkit-linear-gradient(45deg, #fcfffa 0%, #2ec2b3 100%);
	background-image: -moz-linear-gradient(45deg, #fcfffa 0%, #2ec2b3 100%);
	background-image: -o-linear-gradient(45deg, #fcfffa 0%, #2ec2b3 100%);
	background-image: linear-gradient(45deg, #fcfffa 0%, #2ec2b3 100%);
}
.loading {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background: rgba(0, 0, 0, 0.726); */
	z-index: 10;
}
.loading span {
	background: rgb(17, 17, 17);
	position: relative;
	left: 45%;
	top: 100px;
	width: 100px;
	height: 100px;
	display: block;
	border-radius: 50%;

	animation: pulse 0.3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transform-origin: center;
}

@keyframes pulse {
	from {
		transform: scale(0.5);
	}
	to {
		opacity: 0.2;

		transform: scale(2);
	}
}
.ReactModal__Overlay {
	opacity: 0;
	transition: all 0.5s ease-in-out;
}

.ReactModal__Overlay--after-open {
	opacity: 1;
}

.ReactModal__Overlay--before-close {
	opacity: 0;
}
.ReactModal__Content {
	opacity: 0;
	transform: scale(0.8);
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.ReactModal__Content--after-open {
	transform: scale(1);
	opacity: 1;
}
