.main {
	--img-width: 400px;
	--img-height: 600px;
}
.wrapper {
	position: absolute;
	width: 100vw;
	min-height: 100vh;
	top: 0;
	right: 0;
	padding: 0rem 5rem;
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(50px);
	display: flex;
	align-items: center;
	justify-content: center;
}
.main {
	position: relative;
	flex-grow: 0;
	height: max-content;
	max-height: 100vh;
	max-width: 1300px;
	width: 90vw;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
	margin: 0 auto;
	border-radius: 10px;
	overflow: auto;
	overscroll-behavior: contain;
	background: rgba(255, 255, 255, 0.828);
}
.poster {
	flex-grow: 1;
	padding: 0;
	flex-basis: var(--img-width);
	max-width: var(--img-width);
	display: flex;
	justify-content: center;
	min-height: var(--img-height);
}
.poster img {
	width: 100%;
}
.noimage {
	background: transparent;
	text-transform: capitalize;
	font-size: x-large;
	color: var(--dark);
	font-weight: 100;
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 50%;
}
.info {
	background-repeat: no-repeat;
	background-size: cover;
	padding: 2rem 1rem;
	margin-left: 0.1rem;
	flex-grow: 1;
	flex-basis: 60%;
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(2, 1fr);
}
.wide {
	grid-column: span 2 / auto;
}
.info > div {
	font-family: 'Lato';
	/* font-size: 1.2rem; */
	font-size: large;
	font-weight: 900;
	text-transform: capitalize;
	color: var(--tiffany-blue);
	line-height: 1.2em;
}
.info div span {
	color: var(--dark);
	display: block;
	margin-top: 0.5rem;
}
.info span {
	font-size: 1.5rem;
	font-weight: 500;
}
.info .desc span {
	text-align: justify;
	font-size: 1rem;
	font-weight: 500;
	max-height: 100px;
	overflow: auto;
}
.info .title {
	text-transform: uppercase;
	font-family: 'Lato', 'Helvetica Neue', sans-serif;
	font-size: 3rem;
	color: var(--dark);
	font-weight: 900;
}
.info .genres ul {
	padding: 0;
}
.info .genres li {
	list-style: none;
	padding: 0;
	font-size: 1rem;
	color: var(--dark);
	display: inline-block;
	margin-right: 10px;
	font-weight: 500;
}
@media only screen and (max-width: 600px) {
	.main {
		width: 100%;
	}
	.info {
		display: flex;
		flex-direction: column;
	}
	.wrapper {
		padding: 1rem;
	}
}
